<h1>Characters</h1>

<% @characters.each do |character| %>
<ul>
  <li><a href="/<%= character.book_id %>/characters/character.id"><%= character.name %></a></li>

</ul>
<% end %>

<a href="characters/new">Add new character for this book</a>
