<h1>Kreate a Koopa</h1>

<form action="/koopa" method="post">

<label>
  Name:
  <input type="text" name="name">
</label>

<label>
  Color:
  <input type="text" name="color">
</label>

<label>
  Has Shell:
  <input type="checkbox" name="has_shell">
</label>

<label>
  Image
  <input type="text" name="image_url">
</label>

  <button>Create Koopa!</button>

</form>

